*{
	box-sizing:border-box;
}
/*base styling*/
.container{
	margin-right: 0px;
	margin-left: 0px;
}

div>div{
	margin-bottom: 10px;
	margin-right: 0px;
	margin-left: 0px;
	float: left;
}

h1{
	font-family: arial serif;
	font-size: 24px;
	font-weight: bold;
	text-decoration: underline;
	text-align: center;
	color:brown;
	margin-top: 30px;
	margin-bottom: 20px;
}

#firsttest,#secondtest,#thirdtest {
	width:90%;
	margin-left:5%;
	margin-right: 5%;
	background-color: gray;
	border: 1px solid black;

}


div>h4{
	background-color: red;
	color: white;
	width :100px;
	text-align: center; 
	position: relative;
	right: 0px;
	top:0px;
	margin-top: 0px;
	margin-bottom: 0px;
	float: right;

	
}
div>p{
	clear: left;
	font-weight: 200;
	font-size:16px;
	color: white;
	padding: 5px;
	text-align: center;
}

/*mobilt version*/
@media ( max-width:767px) {
	
.col-md-1{
	width: 8.33%;
}

.col-md-2{
	width: 16.33%;
}

.col-md-3{
	width: 25%;
}

.col-md-4{
	width: 33.33%;
}

.col-md-5{
	width: 41.66%;
} 

.col-md-6{
	width: 50%;
}

.col-md-7{
	width: 58.33%;
}

.col-md-8{
	width: 66.66%;
}

.col-md-9{
	width: 75%;
}

.col-md-10{
	width: 83.33%;
}

.col-md-11{
	width: 91.66%;
}

.col-md-12{
	width: 100%;
}

}

/*lapi version*/
@media (min-width: 768px) and (max-width: 991px)  {
	

.col-tb-1{
	width: 8.33%;
}

.col-tb-2{
	width: 16.33%;
}

.col-tb-3{
	width: 25%;
}

.col-tb-4{
	width: 33.33%;
}

.col-tb-5{
	width: 41.66%;
} 

.col-tb-6{
	width: 50%;
}

.col-tb-7{
	width: 58.33%;
}

.col-tb-8{
	width: 66.66%;
}

.col-tb-9{
	width: 75%;
}

.col-tb-10{
	width: 83.33%;
}

.col-tb-11{
	width: 91.66%;
}

.col-tb-12{
	width: 100%;
}

}


/*lapi version*/
@media (min-width: 992px)  {
	

.col-lg-1{
	width: 8.33%;
}

.col-lg-2{
	width: 16.33%;
}

.col-lg-3{
	width: 25%;
}

.col-lg-4{
	width: 33.33%;
}

.col-lg-5{
	width: 41.66%;
} 

.col-lg-6{
	width: 50%;
}

.col-lg-7{
	width: 58.33%;
}

.col-lg-8{
	width: 66.66%;
}

.col-lg-9{
	width: 75%;
}

.col-lg-10{
	width: 83.33%;
}

.col-lg-11{
	width: 91.66%;
}

.col-lg-12{
	width: 100%;
}

}